.container h1 {
  background-color: rgb(190 30 46);
  font-weight: 400;
  padding: 1rem;
  border-radius: 10px;
}
.btn {
  margin-top: 20px;
  color: white;
  height: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.dashboardbtn {
  color: black;
  height: 2rem;
  font-weight: 700;
}

.container_item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem;
}
