.btn {
  margin-top: 20px;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bolder;
}

/* navbar styling */
.navBar_container {
  display: flex;
  justify-content: center;
}

.navBar {
  position: fixed;
  width: 90%;
  margin: 1rem;
  margin: 0;
}

.navBar > ul {
  display: flex;
  justify-content: space-between;
}

.navBar div {
  display: flex;
}
.navBar li {
  width: 4rem;
  height: 0.8rem;
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(190 30 46);
  color: white;
  cursor: pointer;
}

/* form styling */
form {
  padding: 20px;
  margin: 100px auto;
  background-color: rgb(190 30 46);
  border-radius: 1rem;
}
form h1 {
  font-weight: 600;
  font-size: 2rem;
}

.card {
  width: 50%;
  display: flex;
  background: inherit;
  flex-direction: column;
  border: 3px solid black;
  align-content: center;
  margin: auto auto;
}
@media (max-width: 990px) {
  .card {
    width: 100%;
  }
}

.card-header {
  height: 30%;

  color: white;
  text-align: center;
}

.card-header p {
  font-size: 2rem;
}

.container {
  padding: 4px 16px;
  color: aliceblue;
  font-weight: bolder;
}

.btn1 {
  padding: 9px;
  border: 0;
  border-radius: 5px;
}

.card:hover.card::before {
  content: "";
  background: url("https://cdn.wallpapersafari.com/77/46/R6iPAc.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
.loginForm__list > li {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  padding: 5px;
}

.loginForm__input {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  padding: 5px;
  background-color: #eaf0f7;
  border-radius: 0.5rem;
}
.loginForm__input > input::placeholder {
  font-weight: 550;
  opacity: 0.7;
  color: black;
}
input:focus {
  outline: none;
  border: none;
}

.loginForm__list > li > input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: #eaf0f7;
}
#loginForm__resetPassword {
  width: 42%;
  margin-top: 0.01rem;
  align-self: end;
  font-size: small;
  padding: 7px 0px;
  font-weight: 400;
  cursor: pointer;
}
#loginForm__signIn {
  width: 100%;
}
#loginForm__signIn > button {
  width: 100%;
  height: 2rem;
  border-radius: 4.5px;
  border: none;
  background-color: #44a9f2;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.loginForm__line {
  height: 0.2px;
  width: 80px;
  border-top: 1px solid #dfdfdf;
}

#loginForm__line__li {
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginForm__line__li > span {
  font-size: small;
  font-weight: 400;
  padding: 0 0.5rem;
}
.loginForm__buttons__list > li > img {
  height: 1rem;
  width: 1rem;
}

.loginForm__buttons__list {
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  display: flex;
  list-style: none;
}
.loginForm__buttons__list > li {
  padding: 3px;
  width: 52.65px;
  height: 27px;
  border-radius: 8px;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#google:hover,
#metamask:hover,
#apple:hover {
  box-shadow: 0px 3px 10px 6px rgb(0 0 0 / 0.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
#root > div > div > form > ul > a {
  text-decoration: none;
  margin-top: 0.01rem;
  align-self: end;
  font-size: small;
  padding: 7px 0px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  margin-left: auto;
  width: 100%;
}
